apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "oneview-pagerduty-bridge.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "oneview-pagerduty-bridge.labels" . | nindent 4 }}
    component: config
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  PORT: {{ .Values.config.port | quote }}
  LOG_LEVEL: {{ .Values.config.logLevel | quote }}
  GUNICORN_WORKERS: {{ .Values.config.gunicorn.workers | quote }}
  POLL_INTERVAL: {{ .Values.config.pollInterval | quote }}
