{{- if .Values.httpproxy.enabled }}
apiVersion: projectcontour.io/v1
kind: HTTPProxy
metadata:
  name: {{ include "oneview-pagerduty-bridge.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "oneview-pagerduty-bridge.labels" . | nindent 4 }}
    component: httpproxy
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  virtualhost:
    fqdn: {{ .Values.httpproxy.fqdn }}
  
  routes:
  - conditions:
    - prefix: /
    services:
    - name: {{ include "oneview-pagerduty-bridge.fullname" . }}-web
      port: {{ .Values.service.web.port }}
      {{- if .Values.httpproxy.weight }}
      weight: {{ .Values.httpproxy.weight }}
      {{- end }}
    
    {{- if .Values.httpproxy.timeoutPolicy }}
    timeoutPolicy:
      {{- toYaml .Values.httpproxy.timeoutPolicy | nindent 6 }}
    {{- end }}
    
    {{- if .Values.httpproxy.retryPolicy }}
    retryPolicy:
      {{- toYaml .Values.httpproxy.retryPolicy | nindent 6 }}
    {{- end }}
    
    {{- if .Values.httpproxy.rateLimitPolicy }}
    rateLimitPolicy:
      {{- toYaml .Values.httpproxy.rateLimitPolicy | nindent 6 }}
    {{- end }}
    
    {{- if .Values.httpproxy.healthCheckPolicy }}
    healthCheckPolicy:
      {{- toYaml .Values.httpproxy.healthCheckPolicy | nindent 6 }}
    {{- end }}
    
    {{- if .Values.httpproxy.loadBalancerPolicy }}
    loadBalancerPolicy:
      {{- toYaml .Values.httpproxy.loadBalancerPolicy | nindent 6 }}
    {{- end }}
    
    {{- if .Values.httpproxy.requestHeadersPolicy }}
    requestHeadersPolicy:
      {{- toYaml .Values.httpproxy.requestHeadersPolicy | nindent 6 }}
    {{- end }}
    
    {{- if .Values.httpproxy.responseHeadersPolicy }}
    responseHeadersPolicy:
      {{- toYaml .Values.httpproxy.responseHeadersPolicy | nindent 6 }}
    {{- end }}
{{- end }}
